@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fafafa;
  font-family: "Jost", sans-serif !important;
}

.slider {
  width: 90vw;
  max-width: 75rem;
  max-height: 90vh;
  height: fit-content;

  display: grid;
  grid-template-areas:
    "slide slide"
    "desc controls";
  grid-template-rows: 1fr auto;
  grid-template-columns: 4fr 1fr;

  row-gap: 2rem;

  justify-content: center;
  justify-items: center;
  overflow: hidden;

  font-size: calc(1vw + 1.5rem);
  font-weight: 700;
}

.slider .pictures {
  grid-area: slide;
  overflow: hidden;
  display: flex;
  justify-self: start;
  width: 401%;

  transform: translateX(0);

  transition: all 0.6s ease-in-out;
}

.slider .pictures .picture {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: calc(0.0625 * 2rem);
  padding-right: calc(0.0625 * 2rem);

  border-radius: 3rem;

  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.slider .pictures .picture .image {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.slider .desc-wrapper {
  grid-area: desc;
  justify-self: start;

  width: 100%;
  height: fit-content;

  overflow: hidden;
}

.slider .desc-wrapper .desc-container {
  width: 400%;
  display: flex;
  transform: translateX(0);

  transition: transform 0.6s ease-in-out;
}

.slider .desc-wrapper .desc-container .desc {
  display: flex;
  width: 100%;

  white-space: normal;
  vertical-align: top;

  transition: all 0.2s ease-in-out;
  opacity: 0;
  transform: scale(0.8);
}

.slider .controls {
  grid-area: controls;
  display: flex;
  column-gap: 0.5rem;
  justify-self: end;
  height: fit-content;
}

.slider .controls .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.slider .controls .button .item {
  box-shadow: inset 0 0 0 0.1rem rgb(52, 140, 222);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;

  transition: all 0.2s ease-in-out;
}

.slider .controls .button:hover .item {
  background: rgb(192, 222, 248);
}

.slider .controls .button:active .item {
  box-shadow: inset 0 0 0 0.1rem rgb(84, 159, 224);
  background: rgb(84, 159, 224);
}

.slider #radio1:checked ~ .controls .button1 .item,
.slider #radio2:checked ~ .controls .button2 .item,
.slider #radio3:checked ~ .controls .button3 .item,
.slider #radio4:checked ~ .controls .button4 .item {
  box-shadow: inset 0 0 0 0.1rem rgb(37, 109, 176);
  background: rgb(37, 109, 176);
}

.slider .radio {
  display: none;
}

.slider #radio1:checked ~ .desc-wrapper .desc-container .desc1,
.slider #radio2:checked ~ .desc-wrapper .desc-container .desc2,
.slider #radio3:checked ~ .desc-wrapper .desc-container .desc3,
.slider #radio4:checked ~ .desc-wrapper .desc-container .desc4,
.slider #radio1:checked ~ .pictures .picture1,
.slider #radio2:checked ~ .pictures .picture2,
.slider #radio3:checked ~ .pictures .picture3,
.slider #radio4:checked ~ .pictures .picture4 {
  opacity: 1;
  transform: scale(1);
}

.slider #radio1:checked ~ .desc-wrapper .desc-container,
.slider #radio1:checked ~ .pictures {
  transform: translateX(0);
}

.slider #radio2:checked ~ .desc-wrapper .desc-container,
.slider #radio2:checked ~ .pictures {
  transform: translateX(-25%);
}

.slider #radio3:checked ~ .desc-wrapper .desc-container,
.slider #radio3:checked ~ .pictures {
  transform: translateX(-50%);
}

.slider #radio4:checked ~ .desc-wrapper .desc-container,
.slider #radio4:checked ~ .pictures {
  transform: translateX(-75%);
}

@media screen and (max-width: 768px) {
  .slider {
    width: 95vw;
    height: fit-content;
    max-height: 95vh;

    display: grid;
    grid-template-areas:
      "slide"
      "controls"
      "desc";
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;

    row-gap: 1vw;

    font-size: 5vw;
    font-weight: 700;

    justify-content: center;
  }

  .slider .controls {
    justify-self: center;
  }
}

@media screen and (max-width: 500px) {
  .slider .controls .button {
    width: 1rem;
    height: 1.5rem;
  }

  .slider .controls .button .item {
    width: 0.8rem;
    height: 0.8rem;
  }
}
